@mixin title-style ($size){
    font-family: 'HarryPotter';
    font-size: $size;
    text-align: center; 
    margin: 10px;   
}

@mixin phone-only{
    @media(max-width: 780px){
        @content
    }
}
