header{
    padding : 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    @include title-style(100px);
    text-shadow: $light-color 5px 5px 10px;
}


.search{
    display: flex;
    justify-content: center;
    width :100%;
    @include phone-only{
        flex-direction: column;
        align-items: center;
    }
    &__label{
        font-weight: 700;
        font-size: 25px;
        margin-right: 20px;
    }
    &__input{
        width:30%;
        min-width : 200px;
        padding: 10px;
        border: 4px inset $light-color;
        @include phone-only{
            margin-top:15px;
        }
    }
}

.filters{
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    &__button{
        padding:15px;
        width : $filter-width;
        min-width : 200px;
        font-size: 20px;
        font-weight: bold;
        margin-top : 20px;
        box-shadow: 5px 5px 5px black;
        background-color: honeydew;
        cursor: pointer;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        width : $filter-width;
        min-width : 200px;
        list-style-type: none;
        margin : 0;
        padding: 0;
        &__house{
            font-family: 'HarryPotter';
            font-size : 30px;
            text-align: center;
            padding : 10px;
            font-weight: bold;
            cursor: pointer;
            &--light{
                color: white;
            }
            &:hover{
                background-color: lighten($color: #bb2a2a, $amount: 20%);
                color:$light-color;
            }
        }
    }
}

.clear-button{
    padding : 10px;
    margin-top : 20px;
    font-style: italic;
    background-color: honeydew;
    border-radius: 10px;
    min-width : 150px;
}
